/************通用样式开始*************/
*{
	margin: 0;
	padding: 0;
}
ul, ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background: #f1f1f1;
}
/************通用样式结束*************/
/****top开始*****/
#top{
	position: relative;
    z-index: 0;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}
#bg,#bg-pic{
	overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 370px;
    width: 100%;
}
#front{
    display: block;
    margin: 0 auto;
    width: 940px;
    height: 370px;
    position: relative;
    overflow: hidden;
    clear: both;
}
#front img{
	position: absolute;
}
#error-pic{
    width: 271px;
	height: 249px;
	top: 72px;
	left: 72px;
}
#cat-pic{
    width: 188px;
    height: 230px;
    top: 94px;
    left: 356px;
    z-index: 3
}
#catshadow-pic{
    width: 166px;
    height: 49px;
    top: 298px;
    left: 371px;
}
#bed-pic{
    width: 440px;	
    height: 156px;
	top: 150px;
	left: 432px;
    z-index: 2
}
#bedshadow-pic{
    width: 430px;
    height: 75px;
    top: 263px;
    left: 442px;
}
#house1-pic{
    width: 304px;
    height: 123px;
	top: 73px;
	left: 467px;
}
#house2-pic{
    width: 116px;
    height: 50px;
	top: 113px;
	left: 762px;
}

/****top结束*****/
